<header class="formpage">
  <div class="row">
    <div class="panel-body">
      <img class="logo-heading-form2">
        <%= image_tag @game.image.url(:medium) %>
      </img>
    </header>
    <div class="panel-body">
      <%= render 'form', game: @game %>
      <%= button_to "Delete Game", game_path(@game), data: { confirm: "Are you sure that you to delete this game?" }, method: :delete, class: "btn btn-sp" %>
    </div>
  </div>
</div>
</header>
