    <div class="intro-body">
          <header class="intro">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="sega">Sega</h1>
                    <h1 class="paradise">Paradise</h1>
                </div>
                <% @games.each do |game| %>
                <div class="col-xs-3 col-md-3">
                  <div class="thumbnail">
                    <%= link_to (image_tag game.image.url(:medium), class: 'image'), game %>
                  </div>
                </div>
                <% end %>
        </div>
      </header>
</div>
