<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="sega">Sega</h1>
                    <h1 class="paradise">Paradise</h1>
                </div>
            </div>
        </div>
    </div>
<div class="row">
  <% @games.each do |game| %>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <%= link_to (image_tag game.image.url(:medium), class: 'image'), game %>
    </div>
  </div>
  <% end %>
</div>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="app/assets/javascripts/bootstrap.js"></script>
