/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

 @font-face {
  font-family: 'Streamster';
  src: font-url('Streamster.ttf');
  src: font-url('Streamster.ttf?iefix') format('truetype');

  font-family: 'sega';
  src: font-url('sega.ttf');
  src: font-url('sega.ttf?iefix') format('truetype');
 }

body {

  display: table;
  width: 100%;
  height: auto;
  text-align: center;
  background: image-url("logo.jpg") no-repeat top center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}


.sega {
  font-family: 'sega',sans-serif;
  color: #2E6AB0;
  padding-top: 200px;
  font-size: 100px;
  text-shadow: 10px 10px 10px 20px #000;
}

.paradise{
  color: #EE9FBF;
  font-family: 'sega',sans-serif;
  font-size: 100px;
  text-shadow: 10px 10px 10px #000;
}

.field {
  color: #EE9FBF;
}

.page-title {
  font-family: 'sega',sans-serif;
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.label_font{
  color: #fff

}

.myCarousel {
  padding-right: 25px;
}



/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Cover
 */

.cover {
  padding: 300px 10px 20px 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}






/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;

}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}


@media (min-width: 786px){
  .carousel,
  .carousel .item,
  .carousel-inner > .item > img {
    height: 500px;
  }
}



  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }


@media (min-width: 786px) {
  .featurette-heading {
    margin-top: 120px;
  }

}

.game_title {
  margin:0 0 20px 0;
}
.field {
  margin:10px 0 0 0;
}

.reviews {
  padding:15px 0;
  border-bottom: 1px solid #EAEAEA;
  .star-ratings {
    padding-bottom: 8px;
  }
}
