<h1>New Review</h1>

<%= render 'form', review: @review %>


<div class="btn-group-vertical" role="group" aria-label="...">
  <ul class="pager">
<li><%= link_to 'Back', game_path(@game) %></li>
  </ul>
</div>
